<div class="py-8">
    <div class="max-w-screen-2xl mx-auto px-4 md:px-8">
      <div class="mt-6">
        <ul
          class="flex gap-y-3 flex-wrap items-center justify-center [&>*]:px-12 lg:divide-x"
        >
          {/* LOGO 1 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca1.jpeg" alt="">
          </li>
  
          {/* LOGO 2 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca2.jpeg" alt="">
          </li>
  
          {/* LOGO 3 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca3.jpeg" alt="">
          </li>
  
          {/* LOGO 4 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca4.jpeg" alt="">
          </li>

          {/* LOGO 5 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca5.jpeg" alt="">
          </li>

          {/* LOGO 6 */}
          <li class="flex-none">
            <img class="size-[100px]" src="/photos/marca6.jpeg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
  