---
import WhatsAppIcon from "../components/icons/whatsApp.astro";
import { siteConfig } from "../config/site";
---

<a
  target="_blank"
  href=`https://wa.me/${siteConfig.phone}`
  class="rounded-full bg-[#ADE1C1] px-8 py-1 relative text-[#003917] text-lg font-lobster cursor-pointer"
><u>¡Me interesa!</u>
  <span class="absolute -top-4 -right-4 text-xs">
    <WhatsAppIcon />
  </span>
</a>
