
<div class="paragraph-container">
  <img src="icons/globo.png" alt="icono de globo" class="icon">
  <p>
  <span class="first-part">El color y el precio de algunos de los productos pueden variar.</span> 
  <span class="second-part">Cada producto o servicio es único y original, 
  tú eres el diseñador, nosotros te asesoramos y hacemos realidad tus necesidades.</span>
  </p>
</div>

<style>
  .paragraph-container {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-right: 0.3em;
  }

  .first-part{
    color: #7e8795;
    font-weight: bold;
  }

  .second-part {
    color: #a1a6ad;
  }

</style>
