
<div>
  <img src="icons/globo.png" alt="icono de globo" class="icon">
  El color y el precio de algunos de los productos pueden variar. Cada producto o servicio es único y original, 
  tú eres el diseñador, nosotros te asesoramos y hacemos realidad tus necesidades.
</div>

<style>
  .icon {
    width: 24px;
    height: auto;
    margin-right: 0.5em;
    color: pink;
  }
</style>
