<footer class="font-lobster w-full">
    <div class="flex gap-x-8">
        <div>
            <h4 class="text-xl pb-5 text-[#CD27A0]">
                Donde nos puedes encontrar?
            </h4>
            <p>
                Avenida Europa 8, Montequinto 41089 Dos Hermanas, Espa침a
            </p>
        </div>
        <div>
            <h4 class="text-xl pb-5 text-[#CD27A0]">
                Productos
            </h4>
            <p>
                Productos Destacados
                Ofertas del mes
                Novedades de la semana
            </p>
        </div>
        <div>
            <h4 class="text-xl pb-5 text-[#CD27A0]">
                Nuestra Empresa
            </h4>
            <p>
                Informaci칩n Personal
                Pedidos
                Facturas por abono
                Direcciones
            </p>
        </div>
        <div>
            <h4 class="text-xl pb-5 text-[#CD27A0]">
                Su cuenta
            </h4>
            <p>
                Informaci칩n Personal
Pedidos
Facturas por abono
Direcciones
            </p>
        </div>
    </div>

    <div>
        <h4 class="text-xl pb-5 text-[#CD27A0]">
            Contactenos
        </h4>
        <p>
            Informaci칩n Personal
Pedidos
Facturas por abono
Direcciones
        </p>
    </div>
</footer>
