---
import Button from "./button.astro";
import Carrusel from "./carrusel.astro";
const { title, description, bgColor, titleColor } = Astro.props;
---

<div class="md:flex md:gap-x-8">
    <div class="md:w-2/4">
      <Carrusel />
    </div>

    <div class="md:w-2/4 flex justify-center">
      <header class="w-96">
        <h2 class=`font-lobster font-semibold text-4xl ${titleColor}`>
          {title}
        </h2>
        <p class="font-lobster text-[#636B78] text-xl pt-5 pb-4">
          {description}
        </p>
        <Button />
      </header>
    </div>
  </div>
