---
import Review from "./review.astro";
---

<div class="flex flex-col md:flex-row gap-x-10">
  <Review
    avatar="photos/avatar1.webp"
    name="Alex"
    quote="Lorem ipsum dolor sit amet consectetur. Imperdiet lacinia vulputate sed a velit felis in sed cursus. Urna fermentum et elementum venenatis pretium fringilla lacinia id fames."
  />
  <Review
    avatar="photos/avatar2.webp"
    name="Aleja"
    quote="Lorem ipsum dolor sit amet consectetur. Imperdiet lacinia vulputate sed a velit felis in sed cursus. Urna fermentum et elementum venenatis pretium fringilla lacinia id fames."
  />
  <Review
    avatar="photos/avatar3.webp"
    name="Cris"
    quote="Lorem ipsum dolor sit amet consectetur. Imperdiet lacinia vulputate sed a velit felis in sed cursus. Urna fermentum et elementum venenatis pretium fringilla lacinia id fames."
  />
</div>
<!-- <div class="flex gap-x-10 px-10">
  <div class="w-96">
    <Cards imagePath="/photos/producto1.webp" alt="Centro de globos" />
    <figure class="mx-auto max-w-44 mb-4">
      <img class="w-full h-auto" src="icons/star.webp" alt="review-stars" />
    </figure>
  </div>
  <div class="w-96">
    <Cards imagePath="/photos/producto2.webp" alt="Decoración boda" />
    <figure class="mx-auto max-w-44 mb-4">
      <img class="w-full h-auto" src="icons/star.webp" alt="review-stars" />
    </figure>
  </div>
  <div class="w-96">
    <Cards imagePath="/photos/producto3.webp" alt="Globos primera comunión" />
    <figure class="mx-auto max-w-44 mb-4">
      <img class="w-full h-auto" src="icons/star.webp" alt="review-stars" />
    </figure>
  </div>
</div> -->
