---
import Cards from "./cards.astro";
const { images } = Astro.props;
---

<div class="list-of-cards">
  <div class="w-full h-[350px] overflow-x-auto flex">
    {
      images?.map((item) => {
        return (
          <div class=" h-full">
            <Cards imagePath={item.img} />
            <p class="card-name">{item.alt}</p>
          </div>
        );
      })
    }
  </div>

  <!--     <div class="cards-container">
      <div>
        <Card imagePath="/photos/producto1.png" />
        <p class="card-name">Producto 1</p>
      </div>
      <div>
        <Card imagePath="/photos/producto2.png" />
        <p class="card-name">Producto 2</p>
      </div>
      <div>
        <Card imagePath="/photos/producto3.png" />
        <p class="card-name">Producto 3</p>
      </div>
    </div> -->
</div>
<div class="button-container flex-end justify-end">
  //todo agregar contacto
</div>

<style>
  .list-of-cards {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    position: relative;
  }

  .list-of-cards h2 {
    font-family: "Lobster Two", system-ui;
    font-size: 28px;
    color: #11a4ee;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /*   .cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 80px;
    width: 100%;
  } */

  .card-name {
    text-align: center;
    font-family: "Lobster Two", system-ui;
    font-size: 18px;
    color: #636b78;
  }

  .button-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    bottom: 20px;
  }

  .button {
    width: 150px;
    background-color: #d1d4d6;
    color: #495057;
    font-family: "Lobster Two", system-ui;
    border: none;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
  }
</style>
