---
import Cards from "./cards.astro";
interface Props {
  data: any;
  colorFont: string;
}
const { data, colorFont } = Astro.props;
---

<div class="list-of-cards">
  <h2 class=`${colorFont}`>Productos relacionados</h2>
  <div class="w-full h-[370px] overflow-x-auto flex">
    {
      !data ? (
        <p>No hay productos relacionados</p>
      ) : (
        data.content.map((item) => {
          return (
            <div class="h-full">
              <Cards imagePath={item.imagen[0].secure_url} alt={item.name} />
              <p class="card-name">{item.name}</p>
            </div>
          );
        })
      )
    }
  </div>
</div>
<div class="button-container flex-end justify-end">
  <button class="button">Ver más...</button>
</div>

<style>
  .list-of-cards {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    position: relative;
  }

  .list-of-cards h2 {
    font-family: "Lobster Two", system-ui;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .card-name {
    text-align: center;
    font-family: "Lobster Two", system-ui;
    font-size: 18px;
    color: #636b78;
  }

  .button-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    bottom: 20px;
  }

  .button {
    width: 150px;
    background-color: #d1d4d6;
    color: #495057;
    font-family: "Lobster Two", system-ui;
    border: none;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
  }
</style>
