<div class="flex flex-col md:flex-row gap-x-2 h-auto w-full text-xl">
  <div class="w-2/6 flex flex-col gap-y-5">
    <img
      class="w-auto h-auto rounded-[80px] px-10 object-cover"
      src="/photos/antigua.webp"
      alt="nueva tienda la antigua tienda"
    />
    <h5 class="block text-[#E670A1] text-3xl font-lobster px-10">
      La Antigua Tienda
    </h5>
    <p class="block font-lobster text-[#636B78] px-10">
      Nos hemos mudado, a partir de ahora podrás encontrarnos en nuestra nueva
      ubicación en la Avenida de Europa 8, 41089 Montequinto. A escasos 100
      metros de nuestro anterior local y muy cerca de la para de metro Europa de
      la linea 1.
    </p>
    <p class="block font-lobster text-[#636B78] px-10">
      Aprovechamos el cambio de local para renovar nuestra imagen y añadir
      nuevos servicios que ponemos a tu disposición en el nuevo local.
    </p>
  </div>

  <div class="w-2/6 flex flex-col gap-y-5">
    <img
      class="w-auto h-auto rounded-[80px] px-10 object-cover"
      src="/photos/paqui.webp"
      alt="paqui balbuena dueña de la tienda"
    />
    <h5 class="block text-[#E670A1] text-3xl font-lobster px-10">
      Paqui Balbuena / Dueña de la Tienda
    </h5>
    <p class="block font-lobster text-[#636B78] px-10">
      Entusiasta de su trabajo, adora todo lo relacionado con los globos, cada
      vez que puede se renueva para mejorar y ofrecer a sus clientes novedades y
      cosas de calidad. Creativa y ama lo que hace, pone mucho empeño y cariño
      en cada creación que hace e intenta sorprender y superarse en cada uno de
      sus encargos para así satisfacer a sus clientes. Cuida hasta el último
      detalle. Son una gran familia.
    </p>
  </div>

  <div class="w-2/6 flex flex-col gap-y-5">
    <img
      class="w-auto h-auto rounded-[80px] px-10 object-cover"
      src="/photos/maria.webp"
      alt="maria dependienta de la tienda"
    />
    <h5 class="block text-[#E670A1] text-3xl font-lobster px-10">
      María / Dependienta
    </h5>
    <p class="block font-lobster text-[#636B78] px-10">
      Dependienta con mucha ilusión y entusiasmo a la hora de elaborar un
      pedido, creativa y ordenada, es como una más de la familia.
    </p>
  </div>
</div>
