---
import Cards from "./cards.astro";

interface Props {
  avatar: string;
  quote: string;
  name: string;
}

const { quote, name, avatar } = Astro.props;
---

<div>
  <article
    class="mx-auto text-center flex flex-col justify-center items-center"
  >
    <img class="rounded-full size-44" src={avatar} alt={name} />
    <div class="max-w-56 my-4">
      <p
        class="font-lobster font-light text-xl text-pretty md:text-xl mx-auto text-[#24292f]"
      >
        {quote}
      </p>
      <p class="font-lobster mt-5 text-lg">- {name}</p>
    </div>
    <div class="">
      <Cards imagePath="/photos/Productos-destacados/img3.jpg" alt="Arco de Globos" />
      <figure class="mx-auto max-w-44 mt-4">
        <img class="w-full h-auto" src="icons/star.webp" alt="review-stars" />
      </figure>
    </div>
  </article>
</div>
