---
interface Props {
  avatar  : string;
  quote: string;
  name: string    
}

const { quote, name, avatar } = Astro.props;
---

<div>
  <article class="mx-auto text-center flex flex-col justify-center items-center">
    <img class="rounded-full size-56" src={avatar} alt={name}>
    <p
      class=" font-lobster font-light text-xl text-pretty md:text-xl lg:max-w-5xl mx-auto text-[#495057]"
    >
      {quote}
    </p>
    <p class=" font-lobster mt-5 text-lg text-podia-description">- {name}</p>
  </article>
</div>
