---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section
  id={title}
  class=`box-content px-5  mx-auto max-w-5xl md:py-10 lg:max-w-6xl xl:max-w-7xl`
>
  <slot />
</section>
