---
import Button from "./button.astro";
import Carrusel from "./carrusel.astro";
const { title, description, bgColor, titleColor } = Astro.props;
---

<section
  id={title}
  class=`box-content px-5 my-10 mx-auto max-w-5xl md:py-10 lg:max-w-6xl xl:max-w-7xl ${bgColor}`
>
  <slot/>
</section>
