<div class="container">
<h2 class="font-lobster">
    <slot/>
</h2>
</div>


<style scoped>
  .container {
    background-color: #a9def9;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px; 
    margin: 0;
    top: 20px;
    margin-top: 0px;
    margin-bottom: 10%;  
    width: 100%;
  }

 

  .container h2 {
    color: white; 
    font-size: 40px;
    margin-left: 3%;
    margin-bottom: 3%;
    width: 100%;
  }
</style>
